html {
  scroll-behavior: smooth;
}
.home-section {
  padding-top: 120px;
  padding-bottom: 70px;
  background-color: #d4b5ff;
}
.home-section img {
  width: 100%;
  border: 35px solid #fcf596;
  border-radius: 100px;
}
.home-1 h2 {
  color: #002795;
  font-family: "MRCHMaverickGrotesk";
  font-size: 70px;
  font-weight: 900;
  font-style: italic;
  text-align: center;
  padding-top: 100px;
}
.home-1 p {
  color: #002795;
  font-family: "MRCHMaverickGrotesk";
  font-size: 50px;
  font-style: normal;
  text-align: center;
}
/* Media query cho tablet (dưới 768px) */
@media (max-width: 768px) {
  .container-fluid {
    width: 90%;
  }

  .navbar {
    flex-direction: column; /* Đổi thành cột trên thiết bị nhỏ hơn */
  }
  .home-1 h2 {
    font-size: 40px;
  }
  .home-1 p {
    font-size: 35px;
  }
}

/* Media query cho điện thoại (dưới 480px) */
@media (max-width: 480px) {
  body {
    font-size: 14px; /* Giảm kích thước chữ */
  }

  .container {
    width: 100%; /* Đầy đủ chiều rộng trên thiết bị nhỏ */
    padding: 10px;
  }

  .navbar {
    flex-direction: column;
    text-align: center;
  }
}
